.addUserInputs > input{
    width: 100%;
    padding: 1% 1% 1% 2%;
    margin-bottom: 15%;
    font-size: 22px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
.addUserInputs > input:focus{
    border-bottom: 2px solid black;
}
.addUserInputs{
    width: 70%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.addUserInputs > button{
    background-color: #1b9a6f;
    color: white;
    border-radius: 15px;
    padding: 2% 7%;
    font-size: 26px;
    font-weight: bold;
}
.addUserInputs > button:hover{
    cursor: pointer;
    background-color: #055d3f;
}