.loginPageContainer{
    width: 100%;
    height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
}
.loginPageContent{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2% 0;
    border: 2px solid black;
    border-radius: 10px;
    background: rgb(0,24,48);
    background: linear-gradient(180deg, rgba(0,24,48,1) 50%, rgba(255,255,255,1) 50%);
}
.loginPageTitle{
    width: 65%;
    color: white;
    text-align: center;
}
.loginPageTitle > h1{
    font-size: 40px;
}
.loginPageTitle > p{
    font-size: 30px;
}
.logInLink{
    color: #1b9a6f;
    font-size: 35px;
}
.logInLink:hover{
    color: #096747;
}
.loginPageInputs{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginPageInputs > input{
    width: 100%;
    padding: 1% 1% 1% 2%;
    margin-bottom: 8%;
    font-size: 22px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
.loginPageInputs > input:focus{
    border-bottom: 2px solid black;
}
.loginPageInputs > button{
    background-color: #1b9a6f;
    color: white;
    border-radius: 15px;
    margin-top: 4%;
    padding: 2% 7%;
    font-size: 26px;
    font-weight: bold;
}
.loginPageInputs > button:hover{
    cursor: pointer;
    background-color: #055d3f;
}