.addProductContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7%;
}
.addProductContent{
    width: 35%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black;
    border-radius: 10px;
    background: white;
}
